# Stalking Users

In [6]:
import pandas as pd
import tqdm

# combining all into one dataframe for analysis

dfs = []

for i in tqdm.tqdm(range(0, 1)):
    df = pd.read_feather("s3://mt5599/final/processed_tweets_" + str(i) + ".feather")

    dfs.append(df)

100%|██████████| 1/1 [00:15<00:00, 15.97s/it]

In [8]:
df = pd.concat(dfs, axis=0, ignore_index=True).reset_index(drop=True)
df.to_feather("s3://mt5599/dissertation/stalking_users.feather")
df.shape[0]

2207739

In [9]:
df = df.drop_duplicates("id")
df

,id,DateTime,coordinates,place,username,user_id,user_location,tweet_content,lang,tweet_clean,...,place_country,place_country_code,coordinates_longitude,coordinates_latitude,ner_type,ner_word,gmaps_lat,gmaps_long,gmaps_address,distance
0,722512957247242240,2016-04-19 19:51:27+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,https://t.co/CGRUcZWccL,zxx,,...,None,None,NaN,NaN,None,None,NaN,NaN,None,NaN
1,718879627956068352,2016-04-09 19:13:54+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,Que chiste más malo pero me rio igual,es,Que chiste ms malo pero me rio igual,...,None,None,NaN,NaN,None,None,NaN,NaN,None,NaN
2,718879522431639552,2016-04-09 19:13:28+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,"Habia perro llamado pegento, se callo y se pego",es,"Habia perro llamado pegento, se callo y se pego",...,None,None,NaN,NaN,None,None,NaN,NaN,None,NaN
3,718878528020852736,2016-04-09 19:09:31+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,Siento que cada día que pasa es un día menos p...,es,Siento que cada da que pasa es un da menos par...,...,None,None,NaN,NaN,None,None,NaN,NaN,None,NaN
4,718240922379644928,2016-04-08 00:55:54+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,La zorra dr mierda va un paso adelante y yo un...,es,La zorra dr mierda va un paso adelante y yo un...,...,None,None,NaN,NaN,None,None,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207734,652642515749834752,2015-10-10 00:31:15+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,751797768,,Bariloche te extrañoooooo,es,Bariloche te extraoooooo,...,Argentina,AR,-58.447767,-34.90991,LOC,Bariloche,-41.133472,-71.310278,"San Carlos de Bariloche, Río Negro, Argentina",1321.807749
2207735,652642476738654208,2015-10-10 00:31:06+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,751797768,,"Bariloche bariloche que amargado se te ve, se ...",es,"Bariloche bariloche que amargado se te ve, se ...",...,Argentina,AR,-58.447767,-34.90991,None,None,NaN,NaN,None,NaN
2207736,652642231053119488,2015-10-10 00:30:08+00:00,None,None,daniimercado89,751797768,,@chivupower callate chivudo,es,callate chivudo,...,None,None,NaN,NaN,None,None,NaN,NaN,None,NaN
2207737,652641780056346624,2015-10-10 00:28:20+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,751797768,,Ai loviu friend ❤ http://t.co/XSZjgUqyef,pt,Ai loviu friend,...,Argentina,AR,-58.447767,-34.90991,None,None,NaN,NaN,None,NaN
2207738,652641082996617216,2015-10-10 00:25:34+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,751797768,,Hola hola hola hola hola hola hola hola ahr.,es,Hola hola hola hola hola hola hola hola ahr.,...,Argentina,AR,-58.447767,-34.90991,None,None,NaN,NaN,None,NaN

In [11]:
print("There were a total of", df.shape[0], "tweets from ", len(df.username.unique()),
      "users whose tweets were collected and processed.",
     df[pd.notnull(df.place_full_name)].shape[0], " of those tweets were geotagged, ",
    df[pd.ner_type == "LOC"].shape[0], "had a location mention, ",
     df[pd.notnull(df.gmaps_latitude)].shape[0], "had a geoparsed location.")

There were a total of  2070935 tweets from  996 users whose tweets were collected and processed.

In [12]:
summary_table = df.groupby(['username'])["id"].count().reset_index(name='counts')
summary_table_geotagged = df[pd.notnull(df.place_full_name)].groupby(['username'])["id"].count().reset_index(name='counts')

In [13]:
import numpy as np

print("Over the relevant time period, Table  shows the summary statistics of tweets per user.")
print()
print("Mean & ", np.mean(summary_table.counts), " & ", np.mean(summary_table_geotagged.counts))
print("Median & ", np.median(summary_table.counts), " & ", np.median(summary_table_geotagged.counts))
print("Max & ", np.max(summary_table.counts), " & ", np.max(summary_table_geotagged.counts))
print("Min & ", np.min(summary_table.counts), " & ", np.min(summary_table_geotagged.counts))
print("Std & ", np.std(summary_table.counts), " & ", np.std(summary_table_geotagged.counts))

Over the relevant time period, Table  shows the summary statistics of tweets per user.

Mean &  2079.2520080321283  &  687.8865461847389
Median &  1087.5  &  237.5
Max &  68557  &  34513
Min &  2  &  1
Std &  3317.58831663918  &  1520.8842803304744

In [30]:
import pandas as pd

# users that tweeted from Argentina
argentina = df[df.place_country_code == "AR"].groupby(['username'])["id"].count().reset_index(name='counts_1')

all_ = df.groupby(['username'])["id"].count().reset_index(name='counts_2')

only_argentina = pd.merge(argentina, all_, how="left", on="username")
only_argentina["only_argentina"] = np.where(only_argentina["counts_1"] == only_argentina["counts_2"], "only AR", "elsewhere")
only_argentina = only_argentina[only_argentina.only_argentina == "only AR"]

print("Shape of df: ", only_argentina.shape)
print()
print("The number of users that tweeted only from Argentina was ", only_argentina.shape[0],
      ", which is ", only_argentina.shape[0] / len(all_.username.unique()) * 100,"% of the total users.",
     "This is interesting as they could have still travelled within Argentina.")

Shape of df:  (5, 4)

The number of users that tweeted only from Argentina was  5 , which is  0.0050200803212851405 % of the total users. This is interesting as they could have still travelled within Argentina.

In [40]:
from datetime import datetime

df.DateTime > dates[0].to_pydatetime()

0         2016-04-19 19:51:27+00:00
1         2016-04-09 19:13:54+00:00
2         2016-04-09 19:13:28+00:00
3         2016-04-09 19:09:31+00:00
4         2016-04-08 00:55:54+00:00
                     ...
2207734   2015-10-10 00:31:15+00:00
2207735   2015-10-10 00:31:06+00:00
2207736   2015-10-10 00:30:08+00:00
2207737   2015-10-10 00:28:20+00:00
2207738   2015-10-10 00:25:34+00:00
Name: DateTime, Length: 2070935, dtype: datetime64[ns, UTC]

In [41]:
dates[0].to_pydatetime()

datetime.datetime(2015, 9, 27, 0, 0)

In [42]:
df.DateTime[0]

Timestamp('2016-04-19 19:51:27+0000', tz='UTC')

In [51]:
stay_leave

                  0
0       darcena2553
1     LuchoCinqui10
2      Caamicorrea2
3        lucas_teti
4           canadri
..              ...
991         byCDP88
992     _arianajara
993    AldanaCucolo
994  VioleFriedrich
995  daniimercado89

[996 rows x 1 columns]

In [ ]:
import numpy as np
import tqdm

dates = pd.to_datetime(pd.date_range(start='2015-09-27', end='2016-11-06', freq='W', tz="UTC"))

dates_arr = []
for i in range(len(dates)-1):
    dates_arr.append(dates[i:i+2]) 
    
stay_leave = pd.DataFrame({"username": df.username.unique()})

for username in tqdm.tqdm(range(len(stay_leave))):
    
    tweeted_all_months = [None]*len(dates_arr)
    geotagged_all_months = [None]*len(dates_arr)
    
    average_tweets_per_month = [None]*len(dates_arr)
    average_geotagged_per_month = [None]*len(dates_arr)
    
    for i in range(len(dates_arr)):
        
        date = dates_arr[i]
        start_date = date[0]
        end_date = date[1]
        
        mask = (df.username == username) & (df.DateTime > start_date) & (df.DateTime <= end_date)
        
        tweets_this_month = df[mask]
        geotagged_this_month = df[mask & (pd.notnull(df.place_full_name))]
        
        tweeted_all_months[i] = tweets_this_month.shape[0] > 0
        geotagged_all_months[i] = geotagged_this_month.shape[0] > 0
        
        average_tweets_per_month[i] = tweets_this_month.shape[0]
        average_geotagged_per_month[i] = geotagged_this_month.shape[0]
        
    # people who tweeted at least once a month
    stay_leave.loc[stay_leave.username == username, "tweeted_all_weeks"] = tweeted_all_months == True
    stay_leave.loc[stay_leave.username == username, "geotagged_all_weeks"] = geotagged_all_months == True
    
    # number of average tweets per month per user
    stay_leave.loc[stay_leave.username == username, "mean_tweets_per_week"] = np.mean(average_tweets_per_month)
    stay_leave.loc[stay_leave.username == username, "mean_geotagged_per_week"] = np.mean(average_geotagged_per_month)
    
    # number of median tweets per month per user
    #stay_leave.loc[stay_leave.username == username, "median_tweets_per_week"] = np.median(average_tweets_per_month)
    #stay_leave.loc[stay_leave.username == username, "median_geotagged_per_week"] = np.median(average_geotagged_per_month)

  0%|          | 0/996 [00:00<?, ?it/s]



  0%|          | 1/996 [00:10<2:52:31, 10.40s/it]



  0%|          | 2/996 [00:20<2:52:10, 10.39s/it]



  0%|          | 3/996 [00:31<2:52:04, 10.40s/it]



  0%|          | 4/996 [00:41<2:51:44, 10.39s/it]



  1%|          | 5/996 [00:51<2:51:16, 10.37s/it]



  1%|          | 6/996 [01:02<2:50:56, 10.36s/it]



  1%|          | 7/996 [01:12<2:50:47, 10.36s/it]



  1%|          | 8/996 [01:22<2:50:44, 10.37s/it]



  1%|          | 9/996 [01:33<2:50:29, 10.36s/it]



  1%|          | 10/996 [01:43<2:50:19, 10.37s/it]



  1%|          | 11/996 [01:54<2:50:09, 10.36s/it]



  1%|          | 12/996 [02:04<2:50:03, 10.37s/it]



  1%|▏         | 13/996 [02:14<2:49:39, 10.36s/it]



  1%|▏         | 14/996 [02:25<2:49:19, 10.35s/it]



  2%|▏         | 15/996 [02:35<2:49:07, 10.34s/it]



  2%|▏         | 16/996 [02:45<2:48:48, 10.34s/it]



  2%|▏         | 17/996 [02:56<2:48:32, 10.33s/it]



  2%|▏         | 18/996 [03:06<2:48:36, 10.34s/it]



  2%|▏         | 19/996 [03:16<2:48:32, 10.35s/it]



  2%|▏         | 20/996 [03:27<2:48:26, 10.35s/it]



  2%|▏         | 21/996 [03:37<2:48:03, 10.34s/it]



  2%|▏         | 22/996 [03:47<2:48:08, 10.36s/it]



  2%|▏         | 23/996 [03:58<2:48:13, 10.37s/it]



  2%|▏         | 24/996 [04:08<2:48:05, 10.38s/it]



  3%|▎         | 25/996 [04:18<2:47:39, 10.36s/it]



  3%|▎         | 26/996 [04:29<2:47:46, 10.38s/it]



  3%|▎         | 27/996 [04:39<2:47:45, 10.39s/it]



  3%|▎         | 28/996 [04:50<2:47:36, 10.39s/it]



  3%|▎         | 29/996 [05:00<2:47:26, 10.39s/it]



  3%|▎         | 30/996 [05:10<2:46:44, 10.36s/it]



  3%|▎         | 31/996 [05:21<2:46:02, 10.32s/it]



  3%|▎         | 32/996 [05:31<2:45:29, 10.30s/it]



  3%|▎         | 33/996 [05:41<2:45:02, 10.28s/it]



  3%|▎         | 34/996 [05:51<2:44:50, 10.28s/it]



  4%|▎         | 35/996 [06:02<2:45:12, 10.31s/it]



  4%|▎         | 36/996 [06:12<2:44:59, 10.31s/it]



  4%|▎         | 37/996 [06:22<2:44:48, 10.31s/it]



  4%|▍         | 38/996 [06:33<2:44:59, 10.33s/it]



  4%|▍         | 39/996 [06:43<2:45:01, 10.35s/it]



  4%|▍         | 40/996 [06:53<2:44:41, 10.34s/it]



  4%|▍         | 41/996 [07:04<2:44:45, 10.35s/it]



  4%|▍         | 42/996 [07:14<2:44:42, 10.36s/it]



  4%|▍         | 43/996 [07:25<2:44:44, 10.37s/it]



  4%|▍         | 44/996 [07:35<2:44:40, 10.38s/it]



  5%|▍         | 45/996 [07:45<2:44:20, 10.37s/it]



  5%|▍         | 46/996 [07:56<2:44:10, 10.37s/it]



  5%|▍         | 47/996 [08:06<2:43:52, 10.36s/it]



  5%|▍         | 48/996 [08:16<2:43:39, 10.36s/it]



  5%|▍         | 49/996 [08:27<2:43:32, 10.36s/it]



  5%|▌         | 50/996 [08:37<2:43:12, 10.35s/it]



  5%|▌         | 51/996 [08:47<2:43:07, 10.36s/it]



  5%|▌         | 52/996 [08:58<2:42:57, 10.36s/it]



  5%|▌         | 53/996 [09:08<2:42:52, 10.36s/it]



  5%|▌         | 54/996 [09:19<2:42:33, 10.35s/it]



  6%|▌         | 55/996 [09:29<2:42:10, 10.34s/it]



  6%|▌         | 56/996 [09:39<2:41:49, 10.33s/it]



  6%|▌         | 57/996 [09:50<2:41:53, 10.34s/it]



  6%|▌         | 58/996 [10:00<2:41:57, 10.36s/it]



  6%|▌         | 59/996 [10:10<2:41:25, 10.34s/it]



  6%|▌         | 60/996 [10:21<2:41:30, 10.35s/it]



  6%|▌         | 61/996 [10:31<2:41:28, 10.36s/it]



  6%|▌         | 62/996 [10:41<2:41:13, 10.36s/it]



  6%|▋         | 63/996 [10:52<2:41:13, 10.37s/it]



  6%|▋         | 64/996 [11:02<2:41:09, 10.37s/it]



  7%|▋         | 65/996 [11:12<2:40:43, 10.36s/it]



  7%|▋         | 66/996 [11:23<2:40:30, 10.36s/it]



  7%|▋         | 67/996 [11:33<2:40:33, 10.37s/it]



  7%|▋         | 68/996 [11:44<2:40:30, 10.38s/it]



  7%|▋         | 69/996 [11:54<2:40:22, 10.38s/it]



  7%|▋         | 70/996 [12:04<2:40:15, 10.38s/it]



  7%|▋         | 71/996 [12:15<2:39:51, 10.37s/it]



  7%|▋         | 72/996 [12:25<2:39:25, 10.35s/it]



  7%|▋         | 73/996 [12:35<2:39:24, 10.36s/it]



  7%|▋         | 74/996 [12:46<2:39:19, 10.37s/it]



  8%|▊         | 75/996 [12:56<2:38:32, 10.33s/it]



  8%|▊         | 76/996 [13:06<2:37:51, 10.30s/it]



  8%|▊         | 77/996 [13:16<2:37:13, 10.26s/it]



  8%|▊         | 78/996 [13:27<2:36:53, 10.25s/it]



  8%|▊         | 79/996 [13:37<2:36:35, 10.25s/it]



  8%|▊         | 80/996 [13:47<2:36:33, 10.25s/it]



  8%|▊         | 81/996 [13:58<2:36:43, 10.28s/it]



  8%|▊         | 82/996 [14:08<2:36:19, 10.26s/it]



  8%|▊         | 83/996 [14:18<2:35:57, 10.25s/it]



  8%|▊         | 84/996 [14:28<2:35:48, 10.25s/it]



  9%|▊         | 85/996 [14:38<2:35:32, 10.24s/it]



  9%|▊         | 86/996 [14:49<2:36:05, 10.29s/it]



  9%|▊         | 87/996 [14:59<2:36:18, 10.32s/it]



  9%|▉         | 88/996 [15:10<2:36:36, 10.35s/it]



  9%|▉         | 89/996 [15:20<2:36:44, 10.37s/it]



  9%|▉         | 90/996 [15:30<2:36:26, 10.36s/it]



  9%|▉         | 91/996 [15:41<2:35:39, 10.32s/it]



  9%|▉         | 92/996 [15:51<2:35:05, 10.29s/it]



  9%|▉         | 93/996 [16:01<2:35:03, 10.30s/it]



  9%|▉         | 94/996 [16:12<2:35:28, 10.34s/it]



 10%|▉         | 95/996 [16:22<2:35:47, 10.37s/it]



 10%|▉         | 96/996 [16:32<2:35:54, 10.39s/it]



 10%|▉         | 97/996 [16:43<2:35:49, 10.40s/it]



 10%|▉         | 98/996 [16:53<2:35:46, 10.41s/it]



 10%|▉         | 99/996 [17:04<2:35:31, 10.40s/it]



 10%|█         | 100/996 [17:14<2:34:51, 10.37s/it]



 10%|█         | 101/996 [17:24<2:34:16, 10.34s/it]



 10%|█         | 102/996 [17:35<2:33:50, 10.33s/it]



 10%|█         | 103/996 [17:45<2:33:33, 10.32s/it]



 10%|█         | 104/996 [17:55<2:33:19, 10.31s/it]



 11%|█         | 105/996 [18:05<2:33:03, 10.31s/it]



 11%|█         | 106/996 [18:16<2:32:48, 10.30s/it]



 11%|█         | 107/996 [18:26<2:32:34, 10.30s/it]



 11%|█         | 108/996 [18:36<2:32:19, 10.29s/it]



 11%|█         | 109/996 [18:47<2:32:07, 10.29s/it]



 11%|█         | 110/996 [18:57<2:31:58, 10.29s/it]



 11%|█         | 111/996 [19:07<2:31:56, 10.30s/it]



 11%|█         | 112/996 [19:17<2:31:34, 10.29s/it]



 11%|█▏        | 113/996 [19:28<2:30:59, 10.26s/it]



 11%|█▏        | 114/996 [19:38<2:30:28, 10.24s/it]



 12%|█▏        | 115/996 [19:48<2:30:41, 10.26s/it]



 12%|█▏        | 116/996 [19:58<2:30:39, 10.27s/it]



 12%|█▏        | 117/996 [20:09<2:30:30, 10.27s/it]



 12%|█▏        | 118/996 [20:19<2:30:10, 10.26s/it]



 12%|█▏        | 119/996 [20:29<2:30:14, 10.28s/it]



 12%|█▏        | 120/996 [20:40<2:30:03, 10.28s/it]



 12%|█▏        | 121/996 [20:50<2:29:53, 10.28s/it]



 12%|█▏        | 122/996 [21:00<2:29:29, 10.26s/it]



 12%|█▏        | 123/996 [21:10<2:29:18, 10.26s/it]

In [ ]:
# number of people who tweeted at least once a week
stay_leave.tweeted_all_weeks.value_counts(dropna=False)

In [ ]:
stay_leave.geotagged_all_weeks.value_counts(dropna=False)

In [ ]:
# number of average tweets per week per user
#stay_leave.mean_tweets_per_week.value_counts(dropna=False)
print("Table ___ shows the mean and median numbers of total tweets and geotagged tweets per user per week.")
print()
print("& Total & Geotagged \\")
print("Mean & ", np.mean(stay_leave.mean_tweets_per_week), " & ", np.mean(stay_leave.mean_geotagged_per_week), " \\")
print("Median & ", np.median(stay_leave.mean_tweets_per_week), " & ", np.median(stay_leave.mean_geotagged_per_week), " \\")