In [10]:
# reading in cleaned files for combining into one dataframe
import boto3
import pandas as pd
import tqdm

dfs = []

missed_files = []

for i in tqdm.tqdm(range(0, 200)):
    try:
        df = pd.read_feather("s3://mt5599/tweets/spanish_tweets_2016_" + str(i) + "_processed_wcontent.feather")
        dfs.append(df)
    except:
        missed_files.append(i)
        continue

100%|██████████| 1/1 [00:05<00:00,  5.14s/it]

In [4]:
!pip install feather-format

Keyring is skipped due to an exception: 'keyring.backends'
Collecting feather-format
  Using cached feather_format-0.4.1-py3-none-any.whl
Requirement already satisfied: pyarrow>=0.4.0 in /opt/conda/lib/python3.7/site-packages (from feather-format) (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.7/site-packages (from pyarrow>=0.4.0->feather-format) (1.21.6)
Installing collected packages: feather-format
Successfully installed feather-format-0.4.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [5]:
missed_files

[]

In [11]:
# combining cleaned files into one dataframe
import feather

main_df = pd.concat(dfs, axis=0)
main_df.drop_duplicates(inplace=True)
main_df.reset_index(drop=True, inplace=True)
#main_df.to_feather("s3://mt5599/tweets/spanish_tweets_2016_processed_wcontent_0.feather")
main_df

,TweetNumber,id,DateTime,coordinates,place,username,user_id,user_location,tweet_content,lang,tweet_clean,place_full_name,place_name,place_type,place_country,place_country_code,coordinates_longitude,coordinates_latitude
0,0,722512957247242240,2016-04-19 19:51:27+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,https://t.co/CGRUcZWccL,zxx,,None,None,None,None,None,NaN,NaN
1,1,718879627956068352,2016-04-09 19:13:54+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,Que chiste más malo pero me rio igual,es,Que chiste más malo pero me rio igual,None,None,None,None,None,NaN,NaN
2,2,718879522431639552,2016-04-09 19:13:28+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,"Habia perro llamado pegento, se callo y se pego",es,"Habia perro llamado pegento, se callo y se pego",None,None,None,None,None,NaN,NaN
3,3,718878528020852736,2016-04-09 19:09:31+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,Siento que cada día que pasa es un día menos p...,es,Siento que cada día que pasa es un día menos p...,None,None,None,None,None,NaN,NaN
4,4,718240922379644928,2016-04-08 00:55:54+00:00,None,None,darcena2553,2358639522,No soy unica soy diferente,La zorra dr mierda va un paso adelante y yo un...,es,La zorra dr mierda va un paso adelante y yo un...,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851983,851983,649401814627041280,2015-10-01 01:53:52+00:00,None,None,ss_gladys,527972155,planeta tierra🌎,@rociolupe1 @AngelesMayer @Camac_Rejas @patric...,it,rociolupe1 AngelesMayer Camac_Rejas patricia1...,None,None,None,None,None,NaN,NaN
851984,851984,649378989933490176,2015-10-01 00:23:10+00:00,None,None,ss_gladys,527972155,planeta tierra🌎,@nan_diosa @SusanaBeatrzDaz @sebahaesler1 @spl...,es,nan_diosa SusanaBeatrzDaz sebahaesler1 splale...,None,None,None,None,None,NaN,NaN
851985,851985,649378714539716608,2015-10-01 00:22:05+00:00,None,None,ss_gladys,527972155,planeta tierra🌎,@AngelesMayer @Camac_Rejas @patricia170919 @LM...,es,AngelesMayer Camac_Rejas patricia170919 LMHH ...,None,None,None,None,None,NaN,NaN
851986,851986,649378118281625600,2015-10-01 00:19:42+00:00,None,None,ss_gladys,527972155,planeta tierra🌎,@jacquelin_93 @ThEcualizere @kitty_sanrio1 @Si...,es,jacquelin_93 ThEcualizere kitty_sanrio1 Silau...,None,None,None,None,None,NaN,NaN
851987,851987,649374394276573184,2015-10-01 00:04:55+00:00,None,None,ss_gladys,527972155,planeta tierra🌎,"#GHLaGranFinal #matiasal3002 ,palpitando la gr...",es,"GHLaGranFinal matiasal3002 ,palpitando la gra...",None,None,None,None,None,NaN,NaN

In [12]:
main_df.place_full_name.value_counts(dropna=False)

NaN                                           511648
Rosario, Argentina                             43528
Ciudad Autónoma de Buenos Aires, Argentina     39017
Buenos Aires, Argentina                        21395
Córdoba, Argentina                             19775
                                               ...
Azul, Argentina                                    1
San José del Rincón, Argentina                     1
Barra do Quaraí, Brasil                            1
Toay, Argentina                                    1
Guatemala                                          1
Name: place_full_name, Length: 269, dtype: int64

In [14]:
main_df.coordinates_latitude.value_counts()

-33.033993    43418
-34.674453    38767
-41.035009    21316
-34.998735    12513
-27.505327    12478
              ...
-34.782073        1
-34.783197        1
-34.783071        1
-34.783119        1
-36.680189        1
Name: coordinates_latitude, Length: 7375, dtype: int64

In [ ]:
# read in dataframe
import pandas as pd
from sagemaker import get_execution_role
import boto3
import tqdm

df1 = pd.read_json("s3://mt5599/tweets/spanish_tweets_2016_0.json")
df1

In [4]:
import pandas as pd 
import boto3

df2 = pd.read_feather("s3://mt5599/tweets/spanish_tweets_2016_20_processed.feather")
df2

,id,DateTime,coordinates,place,username,user_location,place_full_name,place_name,place_type,place_country,place_country_code,coordinates_longitude,coordinates_latitude
0,678329470542094336,2015-12-19 21:42:03+00:00,"Coordinates(longitude=-65.778264, latitude=-34...","Place(fullName='Córdoba, Argentina', name='Cór...",male1114,"Arias, Córdoba, Argentina!","Córdoba, Argentina",Córdoba,admin,Argentina,AR,-65.778264,-34.998735
1,677181249509830656,2015-12-16 17:39:25+00:00,"Coordinates(longitude=-65.778264, latitude=-34...","Place(fullName='Córdoba, Argentina', name='Cór...",male1114,"Arias, Córdoba, Argentina!","Córdoba, Argentina",Córdoba,admin,Argentina,AR,-65.778264,-34.998735
2,677171413686616064,2015-12-16 17:00:20+00:00,"Coordinates(longitude=-65.778264, latitude=-34...","Place(fullName='Córdoba, Argentina', name='Cór...",male1114,"Arias, Córdoba, Argentina!","Córdoba, Argentina",Córdoba,admin,Argentina,AR,-65.778264,-34.998735
3,677170585714229248,2015-12-16 16:57:03+00:00,"Coordinates(longitude=-65.778264, latitude=-34...","Place(fullName='Córdoba, Argentina', name='Cór...",male1114,"Arias, Córdoba, Argentina!","Córdoba, Argentina",Córdoba,admin,Argentina,AR,-65.778264,-34.998735
4,677120134625017856,2015-12-16 13:36:35+00:00,"Coordinates(longitude=-65.778264, latitude=-34...","Place(fullName='Córdoba, Argentina', name='Cór...",male1114,"Arias, Córdoba, Argentina!","Córdoba, Argentina",Córdoba,admin,Argentina,AR,-65.778264,-34.998735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
221776,653002362806792192,2015-10-11 00:21:10+00:00,"Coordinates(longitude=-57.645563, latitude=-38...","Place(fullName='Mar del Plata, Argentina', nam...",Tobaress19,,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.645563,-38.1278142
221777,653002294712238080,2015-10-11 00:20:53+00:00,"Coordinates(longitude=-57.645563, latitude=-38...","Place(fullName='Mar del Plata, Argentina', nam...",Tobaress19,,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.645563,-38.1278142
221778,653002200344600576,2015-10-11 00:20:31+00:00,"Coordinates(longitude=-57.645563, latitude=-38...","Place(fullName='Mar del Plata, Argentina', nam...",Tobaress19,,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.645563,-38.1278142
221779,653002052835115008,2015-10-11 00:19:56+00:00,"Coordinates(longitude=-57.645563, latitude=-38...","Place(fullName='Mar del Plata, Argentina', nam...",Tobaress19,,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.645563,-38.1278142
221780,653001975446011904,2015-10-11 00:19:37+00:00,"Coordinates(longitude=-57.645563, latitude=-38...","Place(fullName='Mar del Plata, Argentina', nam...",Tobaress19,,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.645563,-38.1278142

In [5]:
df2.place_full_name.value_counts(dropna=False)

Córdoba, Argentina                            29159
Ciudad Autónoma de Buenos Aires, Argentina    23748
Buenos Aires, Argentina                       12436
Santa Rosa, Argentina                          9129
Mar del Plata, Argentina                       7538
                                              ...
Salsipuedes, Argentina                            1
San Javier, Argentina                             1
Camboriú, Brasil                                  1
NaN                                               1
Constitución, Argentina                           1
Name: place_full_name, Length: 276, dtype: int64

In [19]:
pd.set_option('display.max_rows', None)

df22 = df2[df2.username == "Tobaress19"]
df22["date"] = pd.to_datetime(df22["DateTime"]).dt.date
val_counts = df22[["place_full_name", "date"]].value_counts()
pd.DataFrame(val_counts.reset_index().sort_values(by="date"))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                     place_full_name        date    0
2           Mar del Plata, Argentina  2015-10-11  180
107         Mar del Plata, Argentina  2015-10-13    5
110            Entre Ríos, Argentina  2015-10-14    3
13          Mar del Plata, Argentina  2015-10-14  110
93          Mar del Plata, Argentina  2015-10-15   25
75          Mar del Plata, Argentina  2015-10-16   38
27          Mar del Plata, Argentina  2015-10-17   87
74          Mar del Plata, Argentina  2015-10-18   38
44          Mar del Plata, Argentina  2015-10-19   64
67          Mar del Plata, Argentina  2015-10-20   42
101         Mar del Plata, Argentina  2015-10-21   17
77          Mar del Plata, Argentina  2015-10-22   37
82          Mar del Plata, Argentina  2015-10-23   34
105         Mar del Plata, Argentina  2015-10-24    7
54          Mar del Plata, Argentina  2015-10-25   57
11          Mar del Plata, Argentina  2015-10-26  112
60          Mar del Plata, Argentina  2015-10-27   51
50          Mar del Plata, Argentina  2015-10-28   59
63          Mar del Plata, Argentina  2015-10-29   48
79          Mar del Plata, Argentina  2015-10-30   36
81          Mar del Plata, Argentina  2015-10-31   35
97          Mar del Plata, Argentina  2015-11-01   22
35          Mar del Plata, Argentina  2015-11-02   77
57          Mar del Plata, Argentina  2015-11-03   52
12          Mar del Plata, Argentina  2015-11-04  111
43          Mar del Plata, Argentina  2015-11-05   65
28          Mar del Plata, Argentina  2015-11-06   86
83          Mar del Plata, Argentina  2015-11-07   33
78          Mar del Plata, Argentina  2015-11-08   37
5           Mar del Plata, Argentina  2015-11-09  132
53          Mar del Plata, Argentina  2015-11-10   58
55          Mar del Plata, Argentina  2015-11-11   53
10          Mar del Plata, Argentina  2015-11-12  122
14          Mar del Plata, Argentina  2015-11-13  107
88          Mar del Plata, Argentina  2015-11-14   29
19          Mar del Plata, Argentina  2015-11-15   97
70          Mar del Plata, Argentina  2015-11-16   41
30          Mar del Plata, Argentina  2015-11-17   83
21          Mar del Plata, Argentina  2015-11-18   90
16          Mar del Plata, Argentina  2015-11-19  104
49          Mar del Plata, Argentina  2015-11-20   60
68          Mar del Plata, Argentina  2015-11-21   42
86          Mar del Plata, Argentina  2015-11-22   31
1           Mar del Plata, Argentina  2015-11-23  197
26          Mar del Plata, Argentina  2015-11-24   87
46          Mar del Plata, Argentina  2015-11-25   62
41          Mar del Plata, Argentina  2015-11-26   70
47          Mar del Plata, Argentina  2015-11-27   62
104  Sierra de los Padres, Argentina  2015-11-28    7
73          Mar del Plata, Argentina  2015-11-28   39
109          Buenos Aires, Argentina  2015-11-28    4
4           Mar del Plata, Argentina  2015-11-29  143
29          Mar del Plata, Argentina  2015-11-30   85
17          Mar del Plata, Argentina  2015-12-01  101
113               Miramar, Argentina  2015-12-01    1
0           Mar del Plata, Argentina  2015-12-02  197
23          Mar del Plata, Argentina  2015-12-03   88
22          Mar del Plata, Argentina  2015-12-04   89
76          Mar del Plata, Argentina  2015-12-05   38
102         Mar del Plata, Argentina  2015-12-06   16
3           Mar del Plata, Argentina  2015-12-07  172
6           Mar del Plata, Argentina  2015-12-08  132
56          Mar del Plata, Argentina  2015-12-09   52
20          Mar del Plata, Argentina  2015-12-10   94
62          Mar del Plata, Argentina  2015-12-11   48
80          Mar del Plata, Argentina  2015-12-12   35
89          Mar del Plata, Argentina  2015-12-13   29
9           Mar del Plata, Argentina  2015-12-14  123
31          Mar del Plata, Argentina  2015-12-15   83
61          Mar del Plata, Argentina  2015-12-16   49
7           Mar del Plata, Argentina  2015-12-17  131
33          Mar del Plata, Argentina  2015-12-18   80
59          Mar del Plata, Argentina  2015-12-19   51
64          Mar del Plata, Argentina  2015-12-20   47
40          Mar del Plata, Argentina  2015-12-21   71
51          Mar del Plata, Argentina  2015-12-22   58
18          Mar del Plata, Argentina  2015-12-23   98
72          Mar del Plata, Argentina  2015-12-24   39
84          Mar del Plata, Argentina  2015-12-25   33
100         Mar del Plata, Argentina  2015-12-26   18
48          Mar del Plata, Argentina  2015-12-27   61
99          Mar del Plata, Argentina  2015-12-28   18
71          Mar del Plata, Argentina  2015-12-29   40
96          Mar del Plata, Argentina  2015-12-30   23
66          Mar del Plata, Argentina  2015-12-31   43
95          Mar del Plata, Argentina  2016-01-01   23
37          Mar del Plata, Argentina  2016-01-02   75
45          Mar del Plata, Argentina  2016-01-03   63
42          Mar del Plata, Argentina  2016-01-04   66
106         Mar del Plata, Argentina  2016-01-05    6
69          Mar del Plata, Argentina  2016-01-10   42
94          Mar del Plata, Argentina  2016-01-11   24
90          Mar del Plata, Argentina  2016-01-12   28
58          Mar del Plata, Argentina  2016-01-13   52
87          Mar del Plata, Argentina  2016-01-14   29
98          Mar del Plata, Argentina  2016-01-15   19
103         Mar del Plata, Argentina  2016-01-16   11
24          Mar del Plata, Argentina  2016-01-17   88
65          Mar del Plata, Argentina  2016-01-18   43
85          Mar del Plata, Argentina  2016-01-19   32
39          Mar del Plata, Argentina  2016-01-20   74
91          Mar del Plata, Argentina  2016-01-21   27
36          Mar del Plata, Argentina  2016-01-22   77
52          Mar del Plata, Argentina  2016-01-23   58
92          Mar del Plata, Argentina  2016-01-24   26
25          Mar del Plata, Argentina  2016-01-25   88
15          Mar del Plata, Argentina  2016-01-26  105
8           Mar del Plata, Argentina  2016-01-27  127
38          Mar del Plata, Argentina  2016-01-28   74
32          Mar del Plata, Argentina  2016-01-29   82
112         Mar del Plata, Argentina  2016-01-30    1
34          Mar del Plata, Argentina  2016-02-17   79
111         Mar del Plata, Argentina  2016-05-17    3
108         Mar del Plata, Argentina  2016-10-25    4

In [13]:
df22

                 place_full_name        date
214824  Mar del Plata, Argentina  2016-10-25
214825  Mar del Plata, Argentina  2016-10-25
214826  Mar del Plata, Argentina  2016-10-25
214827  Mar del Plata, Argentina  2016-10-25
214828  Mar del Plata, Argentina  2016-05-17
...                          ...         ...
221776  Mar del Plata, Argentina  2015-10-11
221777  Mar del Plata, Argentina  2015-10-11
221778  Mar del Plata, Argentina  2015-10-11
221779  Mar del Plata, Argentina  2015-10-11
221780  Mar del Plata, Argentina  2015-10-11

[6957 rows x 2 columns]

In [3]:
!pip install spacy

Keyring is skipped due to an exception: 'keyring.backends'
Collecting spacy
  Using cached spacy-3.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.4 MB)
Collecting langcodes<4.0.0,>=3.2.0
  Using cached langcodes-3.3.0-py3-none-any.whl (181 kB)
Collecting smart-open<7.0.0,>=5.2.1
  Using cached smart_open-6.3.0-py3-none-any.whl (56 kB)
Collecting preshed<3.1.0,>=3.0.2
  Using cached preshed-3.0.8-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (126 kB)
Collecting pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4
  Using cached pydantic-1.10.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from spacy) (59.3.0)
Collecting srsly<3.0.0,>=2.4.3
  Using cached srsly-2.4.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (490 kB)
Collecting cymem<2.1.0,>=2.0.2
  Using cached cymem-2.0.7-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (4.42.1)
Collecting typing-extensions<4.2.0,>=3.7.4
  Using cached typing_extensions-4.1.1-py3-none-any.whl (26 kB)
Collecting murmurhash<1.1.0,>=0.28.0
  Using cached murmurhash-1.0.9-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (21 kB)
Collecting wasabi<1.1.0,>=0.9.1
  Using cached wasabi-0.10.1-py3-none-any.whl (26 kB)
Collecting typer<0.8.0,>=0.3.0
  Using cached typer-0.7.0-py3-none-any.whl (38 kB)
Collecting pathy>=0.3.5
  Using cached pathy-0.10.1-py3-none-any.whl (48 kB)
Collecting spacy-loggers<2.0.0,>=1.0.0
  Using cached spacy_loggers-1.0.4-py3-none-any.whl (11 kB)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (2.28.1)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (20.1)
Collecting thinc<8.2.0,>=8.1.0
  Using cached thinc-8.1.6-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (814 kB)
Collecting spacy-legacy<3.1.0,>=3.0.10
  Using cached spacy_legacy-3.0.11-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: numpy>=1.15.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (1.21.6)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.7/site-packages (from spacy) (3.1.2)
Collecting catalogue<2.1.0,>=2.0.6
  Using cached catalogue-2.0.8-py3-none-any.whl (17 kB)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from catalogue<2.1.0,>=2.0.6->spacy) (3.11.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->spacy) (2.4.6)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->spacy) (1.14.0)
Collecting pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4
  Using cached pydantic-1.10.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.8 MB)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.9.24)
Collecting blis<0.8.0,>=0.7.8
  Using cached blis-0.7.9-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.2 MB)
Collecting confection<1.0.0,>=0.0.1
  Downloading confection-0.0.4-py3-none-any.whl (32 kB)
Collecting click<9.0.0,>=7.1.1
  Using cached click-8.1.3-py3-none-any.whl (96 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.7/site-packages (from jinja2->spacy) (2.1.1)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from click<9.0.0,>=7.1.1->typer<0.8.0,>=0.3.0->spacy) (5.1.0)
Installing collected packages: wasabi, cymem, typing-extensions, spacy-loggers, spacy-legacy, smart-open, murmurhash, langcodes, blis, pydantic, preshed, catalogue, srsly, click, typer, confection, thinc, pathy, spacy
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.4.0
    Uninstalling typing_extensions-4.4.0:
      Successfully uninstalled typing_extensions-4.4.0
  Attempting uninstall: click
    Found existing installation: Click 7.0
    Uninstalling Click-7.0:
      Successfully uninstalled Click-7.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aiobotocore 2.4.1 requires botocore<1.27.60,>=1.27.59, but you have botocore 1.29.24 which is incompatible.
Successfully installed blis-0.7.9 catalogue-2.0.8 click-8.1.3 confection-0.0.4 cymem-2.0.7 langcodes-3.3.0 murmurhash-1.0.9 pathy-0.10.1 preshed-3.0.8 pydantic-1.10.2 smart-open-6.3.0 spacy-3.4.4 spacy-legacy-3.0.11 spacy-loggers-1.0.4 srsly-2.4.5 thinc-8.1.6 typer-0.7.0 typing-extensions-4.1.1 wasabi-0.10.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [4]:
!pip install -U pip setuptools wheel
!pip install -U spacy
!python -m spacy download es_core_news_sm

Keyring is skipped due to an exception: 'keyring.backends'
Requirement already satisfied: pip in /opt/conda/lib/python3.7/site-packages (22.3.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (59.3.0)
Collecting setuptools
  Using cached setuptools-65.6.3-py3-none-any.whl (1.2 MB)
Requirement already satisfied: wheel in /opt/conda/lib/python3.7/site-packages (0.34.2)
Collecting wheel
  Using cached wheel-0.38.4-py3-none-any.whl (36 kB)
Installing collected packages: wheel, setuptools
  Attempting uninstall: wheel
    Found existing installation: wheel 0.34.2
    Uninstalling wheel-0.34.2:
      Successfully uninstalled wheel-0.34.2
  Attempting uninstall: setuptools
    Found existing installation: setuptools 59.3.0
    Uninstalling setuptools-59.3.0:
      Successfully uninstalled setuptools-59.3.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
docker-compose 1.29.2 requires PyYAML<6,>=3.10, but you have pyyaml 6.0 which is incompatible.
Successfully installed setuptools-65.6.3 wheel-0.38.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Keyring is skipped due to an exception: 'keyring.backends'
Requirement already satisfied: spacy in /opt/conda/lib/python3.7/site-packages (3.4.4)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /opt/conda/lib/python3.7/site-packages (from spacy) (6.3.0)
Requirement already satisfied: pathy>=0.3.5 in /opt/conda/lib/python3.7/site-packages (from spacy) (0.10.1)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /opt/conda/lib/python3.7/site-packages (from spacy) (4.1.1)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (3.3.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (1.0.4)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /opt/conda/lib/python3.7/site-packages (from spacy) (3.0.11)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (4.42.1)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (20.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /opt/conda/lib/python3.7/site-packages (from spacy) (1.10.2)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (0.7.0)
Requirement already satisfied: numpy>=1.15.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (1.21.6)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (8.1.6)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (2.28.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /opt/conda/lib/python3.7/site-packages (from spacy) (2.4.5)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from spacy) (65.6.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy) (2.0.7)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /opt/conda/lib/python3.7/site-packages (from spacy) (2.0.8)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /opt/conda/lib/python3.7/site-packages (from spacy) (0.10.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy) (3.0.8)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/conda/lib/python3.7/site-packages (from spacy) (1.0.9)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.7/site-packages (from spacy) (3.1.2)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from catalogue<2.1.0,>=2.0.6->spacy) (3.11.0)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->spacy) (1.14.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->spacy) (2.4.6)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.13)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /opt/conda/lib/python3.7/site-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /opt/conda/lib/python3.7/site-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.7.9)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/conda/lib/python3.7/site-packages (from typer<0.8.0,>=0.3.0->spacy) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.7/site-packages (from jinja2->spacy) (2.1.1)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from click<9.0.0,>=7.1.1->typer<0.8.0,>=0.3.0->spacy) (5.1.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Keyring is skipped due to an exception: 'keyring.backends'
Collecting es-core-news-sm==3.4.0
  Downloading https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.4.0/es_core_news_sm-3.4.0-py3-none-any.whl (12.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.9/12.9 MB 14.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in /opt/conda/lib/python3.7/site-packages (from es-core-news-sm==3.4.0) (3.4.4)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (4.1.1)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (8.1.6)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (2.4.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (4.42.1)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (0.10.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (2.0.7)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (6.3.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (3.0.11)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (1.10.2)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (3.1.2)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (0.7.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (2.28.1)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (1.0.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (20.1)
Requirement already satisfied: numpy>=1.15.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (1.21.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (3.0.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (2.0.8)
Requirement already satisfied: pathy>=0.3.5 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (0.10.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (1.0.9)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (3.3.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (65.6.3)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (3.11.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (2.4.6)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (1.14.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (2.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (2.0.4)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /opt/conda/lib/python3.7/site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (0.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /opt/conda/lib/python3.7/site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (0.7.9)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/conda/lib/python3.7/site-packages (from typer<0.8.0,>=0.3.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.7/site-packages (from jinja2->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (2.1.1)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from click<9.0.0,>=7.1.1->typer<0.8.0,>=0.3.0->spacy<3.5.0,>=3.4.0->es-core-news-sm==3.4.0) (5.1.0)
Installing collected packages: es-core-news-sm
Successfully installed es-core-news-sm-3.4.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
✔ Download and installation successful
You can now load the package via spacy.load('es_core_news_sm')

In [8]:
!pip install feather-format

Keyring is skipped due to an exception: 'keyring.backends'
Collecting feather-format
  Using cached feather_format-0.4.1-py3-none-any.whl
Requirement already satisfied: pyarrow>=0.4.0 in /opt/conda/lib/python3.7/site-packages (from feather-format) (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.7/site-packages (from pyarrow>=0.4.0->feather-format) (1.21.6)
Installing collected packages: feather-format
Successfully installed feather-format-0.4.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [1]:
""""Data Processing Pipeline """
import re
import pandas as pd
import spacy
import json
import unicodedata
import html
import tqdm

def clean_tweet_helper(row):
    
    s = row[1]["tweet_content"]
    
    r = unicodedata.normalize("NFC", s)
    r = html.unescape(r)
    #r = r.encode("ascii", "ignore").decode()
    r = r.replace('\n', " ")
    r = r.replace('@', " ")
    r = r.replace("#", " ")
    r = re.sub('http://\S+|https://\S+', '', r)
    #r = r.lower()
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               "]+", flags=re.UNICODE)
    r = (emoji_pattern.sub(r'', r))  # no emoji
    r = re.sub('\s{2,}', ' ', r)
    
    row[1]["tweet_clean"] = r
    
    return row[1]

def clean_tweet(df):
    
    df['tweet_clean'] = None
    
    pool = Pool(processes=round(len(df.index)/1000))

    result_arr = []
    
    for result in tqdm.tqdm(pool.imap_unordered(clean_tweet_helper, df.iterrows()),
                            total=len(df.index)):
        result_arr.append(result)
                
    df = pd.concat(result_arr, axis=1).transpose().sort_index()
                
    return df

In [ ]:
clean_tweet(df1)

In [3]:
from multiprocessing import Pool # multithreading

# Second: Initialise the NLP in Spacy
nlp = spacy.load("es_core_news_sm")

        
def ner_helper(row):
    sptspacy = row[1]["tweet_content"]
    doc_sp = nlp(sptspacy)
    
    spttext = pd.DataFrame([])
    sptlabel = pd.DataFrame([])
    spttweet = pd.DataFrame([])

    for ent in doc_sp.ents:

        spttext = spttext.append(pd.DataFrame({'textloc': ent.text}, index = [0]), ignore_index = True)
        sptlabel = sptlabel.append(pd.DataFrame({'label': ent.label_}, index = [0]), ignore_index = True)
        spttweet = spttweet.append(pd.DataFrame({'TweetNumber': row[1]["TweetNumber"]}, index = [0]), ignore_index = True)

    # Third: Combining the Spacy Spanish Findings
    frames_spacy_sp = [spttweet, spttext, sptlabel]
    finalent_spacy_sp = pd.concat(frames_spacy_sp, axis = 1)
    
    # Fourth: Keep only the GPE parts
    if len(finalent_spacy_sp.index) > 0:
        gpedf_sp = finalent_spacy_sp[finalent_spacy_sp['label'] == "LOC"]

        # Fifth: Merge the GPE on the Main Data Frame
        sptlocations = pd.merge(row[1].to_frame().transpose(), gpedf_sp, on = "TweetNumber", how = "left")
        
    else:
        sptlocations = row[1].to_frame().transpose()
        sptlocations["textloc"] = None
        sptlocations["label"] = None
        sptlocations["TweetNumber"] = row[1]["TweetNumber"]

    return sptlocations



# extracting place components
def ner(df):
    
    df = df[df.lang == "es"]

    pool = Pool(processes=round(len(df.index)/1000))

    result_arr = []
    
    for result in tqdm.tqdm(pool.imap_unordered(ner_helper, df.iterrows()),
                            total=len(df.index)):
        result_arr.append(result)
                
    df = pd.concat(result_arr, axis=0).sort_index()
                
    return df

In [4]:
import pandas as pd
import json
import re
import tqdm
from multiprocessing import Pool # multithreading
import tqdm
from time import process_time
import feather
  


# write function to remove unnecessary columns
def keep_columns(df, # dataframe to be cleaned
                 columns): # list of columns to keep
    df = df[columns]
    return df

#write function to keep only tweets with location data
def has_loc(df):
    df = df[df.coordinates != "None"]
    df = df[df.place != "None"]
    df = df.reset_index(drop=True)
    return df


# helper function to extract place and coordinates
def safe_json_loads(string):
    try:
        string = json.loads(string)
    except:
        string = None
    return(string)



def extract_place_helper(row):
    if row[1]["place"] != "None":
        try:
            split_by = "Place\(fullName='|', name='|', type='|', country='|', countryCode='|'\)"
            temp = re.split(split_by, row[1]["place"])

            row[1]['place_full_name'] = temp[1]
            row[1]['place_name'] = temp[2]
            row[1]['place_type'] = temp[3]
            row[1]['place_country'] = temp[4]
            row[1]['place_country_code'] = temp[5]
        except:
            row[1]['place_full_name'] = None
            row[1]['place_name'] = None
            row[1]['place_type'] = None
            row[1]['place_country'] = None
            row[1]['place_country_code'] = None
            
    return row[1]


# extracting place components
def extract_place(df):
    
    df_coord = df
    
    df_coord['place_full_name'] = "None"
    df_coord['place_name'] = "None"
    df_coord['place_type'] = "None"
    df_coord['place_country'] = "None"
    df_coord['place_country_code'] = "None"

    
    pool = Pool(processes=round(len(df_coord.index)/1000))

    result_arr = []
    
    for result in tqdm.tqdm(pool.imap_unordered(extract_place_helper, df_coord.iterrows()),
                            total=len(df_coord.index)):
        result_arr.append(result)
                
    df_coord = pd.concat(result_arr, axis=1).transpose().sort_index()
                
    return df_coord






def extract_coordinates_helper(row):
    if row[1]["coordinates"] != "None":
        try:
            split_by = "Coordinates\(longitude=|, latitude=|\)"
            temp = re.split(split_by, row[1]["coordinates"])

            row[1]['coordinates_longitude'] = temp[1]
            row[1]['coordinates_latitude'] = temp[2]

        except:
            row[1]['coordinates_longitude'] = None
            row[1]['coordinates_latitude'] = None

    return row[1]


# extracting place components
def extract_coordinates(df):
    
    df_coord = df
    
    df_coord['coordinates_longitude'] = "None"
    df_coord['coordinates_latitude'] = "None"
    
    
    pool = Pool(processes=round(len(df_coord.index)/1000))

    result_arr = []
    
    for result in tqdm.tqdm(pool.imap_unordered(extract_coordinates_helper, df_coord.iterrows()),
                            total=len(df_coord.index)):
        result_arr.append(result)
                
    df_coord = pd.concat(result_arr, axis=1).transpose().sort_index()
                
    return df_coord

In [8]:
def clean_df(filepath):
    
    # reading in data
    print("reading in ", filepath)
    print()
    df = pd.read_json(filepath)
    
    df.reset_index(inplace=True)
    df.rename(columns={"index": "TweetNumber"}, inplace=True)

    # removing unnecessary columns
    print("removing unnecessary columns")
    print()
    df = keep_columns(df, ["id", "DateTime", "coordinates",
                           "place", "username", "user_id", 
                           "user_location", "tweet_content"])

    # filtering out tweets that have no location data
    #print("filtering out tweets that have no location data")
    #print()
    #df = has_loc(df)

    # extracting components of place
    #print("extracting components of place")
    #df = extract_place(df)
    #print()

    # extracting components of coordinates
    #print("extracting components of coordinates")
    #df = extract_coordinates(df)
    #print()
    
    # cleaning tweet content
    print("cleaning content of tweets - removing emojis and other symbols")
    df = clean_tweet(df)
    print()
    
    # extracting mentioned locations from tweets
    df = ner(df)
    print()
    
    # removing unnecessary column
    df.drop("TweetNumber")
    
    #new_filepath = filepath.replace(".json", "_processed.feather")
    #df.to_feather(new_filepath)

    #return df.shape[0]
    
    return df

In [ ]:
cleaned_df = clean_df("s3://mt5599/tweets/spanish_tweets_2016_0.json")
cleaned_df

reading in  s3://mt5599/tweets/spanish_tweets_2016_0.json

removing unnecessary columns

cleaning content of tweets - removing emojis and other symbols

In [ ]:

if __name__ == "__main__":
    
    filepaths = []
    for i in range(266, 401):
        filepath = "../../data/spanish_tweets_2016_" + str(i) + ".json"
        filepaths.append(filepath)

    filepaths = ["../../data/spanish_tweets_2016_0.json"]
        
    no_tweets = 0
    non_existent_files = []
    for filepath in filepaths:
        try:
            t1_start = process_time()
            no_tweets = no_tweets + clean_df(filepath)
            t1_stop = process_time()
            print()
            print("elapsed time: ", t1_stop - t1_start)
            print()
        except:
            non_existent_files.append(filepath)
            continue
            
    print("the number of geotagged tweets collected: ", no_tweets)
    print("the files that do not exist: ", non_existent_files)

In [ ]:
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(key='AIzaSyCavjrCe_gyDBb5ThDhXDNC2RKPeiknxGQ')

# Geocoding an address
geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

# Look up an address with reverse geocoding
reverse_geocode_result = gmaps.reverse_geocode((40.714224, -73.961452))

# Request directions via public transit
now = datetime.now()
directions_result = gmaps.directions("Sydney Town Hall",
                                     "Parramatta, NSW",
                                     mode="transit",
                                     departure_time=now)

# Validate an address with address validation
addressvalidation_result =  gmaps.addressvalidation(['1600 Amphitheatre Pk'], 
                                                    regionCode='US',
                                                    locality='Mountain View', 
                                                    enableUspsCass=True)

In [21]:
!pip install googlemaps

Keyring is skipped due to an exception: 'keyring.backends'
Collecting googlemaps
  Using cached googlemaps-4.7.3-py3-none-any.whl
Requirement already satisfied: requests<3.0,>=2.20.0 in /opt/conda/lib/python3.7/site-packages (from googlemaps) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.13)
Installing collected packages: googlemaps
Successfully installed googlemaps-4.7.3
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [23]:
import googlemaps

gmaps = googlemaps.Client(key='AIzaSyCavjrCe_gyDBb5ThDhXDNC2RKPeiknxGQ')

geocode_result = gmaps.geocode("Paris")
geocode_result

[{'address_components': [{'long_name': 'Paris',
    'short_name': 'Paris',
    'types': ['locality', 'political']},
   {'long_name': 'Paris',
    'short_name': 'Paris',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Île-de-France',
    'short_name': 'IDF',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'France',
    'short_name': 'FR',
    'types': ['country', 'political']}],
  'formatted_address': 'Paris, France',
  'geometry': {'bounds': {'northeast': {'lat': 48.9021475, 'lng': 2.4698509},
    'southwest': {'lat': 48.8155622, 'lng': 2.2242191}},
   'location': {'lat': 48.856614, 'lng': 2.3522219},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 48.9021475, 'lng': 2.4698509},
    'southwest': {'lat': 48.8155622, 'lng': 2.2242191}}},
  'place_id': 'ChIJD7fiBh9u5kcRYJSMaMOCCwQ',
  'types': ['locality', 'political']}]

In [ ]:

# Make the empty dataframes for lat and long
sptlat = pd.DataFrame([])
sptlong = pd.DataFrame([])
spttweet_2 = pd.DataFrame([])

# Create  the lat and long variables to add to the data

lensptw = len(sptlocations["text"])

# Initialize the loop for the API
for i in np.arange(0, lensptw):
    sptloc = sptlocations["textloc"][i]
    geo_code_result_sp = gmaps.geocode(sptloc)
    # If there is no location in the tweet, enter (0,0) for lat and long
    elif len(geo_code_result_sp) == 0:
        sptlat = sptlat.append(pd.DataFrame({"gmaps_lat": 0}, index = [0]), ignore_index = True)
        sptlong = sptlat.append(pd.DataFrame({"gmaps_long": 0}, index = [0]), ignore_index = True)
        spttweet_2 = spttweet_2.append(pd.DataFrame({"TweetNumber": [i]}, index = [0]), ignore_index=True)
    # Else, get the lat and long from the dictionarise and subdictionaries
    else:
        geo_code_dict_sp = geo_code_result_sp[0]
        geo_code_geometry_dict_sp = geo_code_dict_sp.get("geometry")
        geo_location_sp = geo_code_geometry_dict_sp.get("location")
        sptlat = sptlat.append(pd.DataGrame({"gmaps_lat": geo_location_sp.get("lat")}, index = [0]), ignore_index = True)
        sptlong = sptlat.append(pd.DataGrame({"gmaps_long": geo_location_sp.get("lng")}, index = [0]), ignore_index = True)
        spttweet_2 = spttweet_2.append(pd.DataFrame({"TweetNumber": [i]}, index = [0]), ignore_index = True)
        

# Concatenate dataframes
# https://pandas.pydata.org/docs/user_guide/merging.html
framesloc_sp = [splat, splong]
finalloc_sp = pd.concat(framesloc_sp, axis = 1)